@model List<FolderModel>

@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("ImportFolderFromCatalog", "Home", FormMethod.Post, new { id = "uploader" }))
{
    <div id="dropzone">
        <div id="boxtitle">
            Drop your folder here
        </div>
            <input type="submit" value="Import" title="Import"/>
    </div>
    <ul id="listing" ></ul>
     <input type="hidden" id="parentId" value=@ViewData["FolderId"]><br/><br/><br/>
}

<a style="margin:0px 0px 0px 828.5px" asp-controller="Home" asp-action="DownloadTemplate" download="import_folders_template.txt">Click here to download import template</a>

<table class="table">
        <thead>
            <tr>
                <th>
                    @using (Html.BeginForm("AddFolder", "Home", FormMethod.Post))
                    {
                        <input type="text" placeholder="Folder Name" name="Name" >

                        <input type="hidden" name="ParentId" value=@ViewData["FolderId"]>
   
                        <button role="button" class="button-24" type="submit" title="Add">+</button>
                    }
                </th>
                <th>
                    @using (Html.BeginForm("ImportFolderFromFile", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
                    {
                        <input type="file" accept=".txt" name="file" required >

                        <input type="hidden" name="parentId" value=@ViewData["FolderId"]>
   
                        <button role="button" type="submit" style="margin:0px -208.5px 0px -88px" title="Import">Import</button>
                    }
                </th>   
            </tr>
        </thead>
 </table>

<h5>@ViewBag.ResponseMessage</h5>

<table class="table">
        <thead>
            <tr>
                <th>
                        Name
                </th>
                <th>
                        Actions
                </th>
                <th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {   
                <tr>
                    <td>
                        <h6><a role="button" asp-controller="Home" asp-action="Index" asp-route-folderId="@item.Id">@item.Name</a></h6>
                    </td>
                    <td>
                        <button class="button-26"><a style="color: #FFFFFF" asp-controller="Home" asp-action="ExportStructure" asp-route-ParentId="@ViewData["FolderId"]" asp-route-Name="@item.Name" download="FileStructure.txt" title="Download file">▼</a></button> 
                        <button class="button-25"><a style="color: #FFFFFF" asp-controller="Home" asp-action="RemoveFolder" asp-route-ParentId="@ViewData["FolderId"]" asp-route-Name="@item.Name" title="Remove">×</a></button>
                    </td>
                </tr>
            }
        </tbody>
 </table>
